*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}
html ,body {
    height: 100%;
    width: 100%;
}
#main {
      width: 100%;
      height: 100%;
      background-image: url(https://images.unsplash.com/photo-1448630360428-65456885c650?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-size: cover;
      

}
#main #nav {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 60px;

}
#nav #nlink {
    display: flex;
    gap: 40px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
#nav i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background:#fff;
    border-radius: 50%;
    border: 1px solid;

}
#nav h1 {
    font-size: 26px;
    font-weight: 500;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}
#nav #nlink a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
#nlink #active::before {
    content: "";
    width: 40%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: -8%;
    left: 50%;transform: translate(-50%, -50%) !important;
}
a:hover {
    color: #000;
    border-bottom: 2px solid red;
    box-shadow: 0 0 20px rgba(0, 0, 0, 50);
    
}
#main #center {
    width: 350px;
    margin: 30px 140px;
}
#center h6 {
    font-size: 16px;
    padding-bottom: 20px;
    font-family: Gilroy;
    color: #fff;
}
sup {
    font-size: 5px;
}
#center h1 {
    font-size: 48px;
    font-family:"Baskervville SC",serif ;
    white-space: wrap;
    color: #fff;
    line-height: 55px;
}
#center #text {
    width: 420px;
    display: flex;
    gap: 50px;
    margin-top: 25px;
}
#center #line {
    width: 45%;
    height: 2px;
    background: #fff;
    margin-top: 8px;
}
#text p {
    font-size: 13px;
    color: #fff;
    letter-spacing: 1px;
    
}
#main #footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 100px;
    background: #ffffff7c;
    position: absolute;
    left: 0;
    bottom: 0;
}
#footer #cube {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: #000;
    color: #fff;
    position: absolute;
    top: -40px;
    right: -40px;
}
.head p {
    opacity: 0.5;
    font-size: 12px;
    font-weight: 500;
}
.head h3 {
   font-family:"Baskervville SC",serif;
}